.select {
  display: block;
}

.select__title {
  display: block;
  color: $main-color;
  font-size: $sub-fz;
}

.select__wrap {
  position: relative;
  display: block;
  width: 104px;
  height: 40px;
}

.select__ico {
  position: absolute;
  right: 10px;
  top: 12px;
  width: 16px;
  height: 16px;
  color: transparent;
}

.select__item {
  position: relative;
  z-index: 2;
  display: block;
  width: 100%;
  height: 100%;
  color: rgba($text-white, .3);
  background-color: transparent;
  border-bottom:2px solid rgba($main-color, .3);
  transition: color $anim, border-color $anim;
  cursor: pointer;

  option {
    color: #545574;
  }

  @include hover {
    &:hover {
      border-color: rgba($main-color, .6);
      color: rgba($text-white, .6);
    }
  }
}

