@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
    url('../fonts/opensans/OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/opensans/OpenSans-Bold.woff') format('woff'),
    url('../fonts/opensans/OpenSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Light'), local('OpenSans-Light'),
    url('../fonts/opensans/OpenSans-Light.woff2') format('woff2'),
    url('../fonts/opensans/OpenSans-Light.woff') format('woff'),
    url('../fonts/opensans/OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'),
    url('../fonts/opensans/OpenSans-Semibold.woff2') format('woff2'),
    url('../fonts/opensans/OpenSans-Semibold.woff') format('woff'),
    url('../fonts/opensans/OpenSans-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

