//fonts
$open-sans: 'Open Sans', arial, sans-serif;

//main-color
$brand-color: #2aa7dc;

$black: #000;
$white: #fff;
$text-color: #3b3b3b;

//$colors
$pink: #fc5095;
$orange: #fc8950;
$yellow: #fcc150;
$blue: #1da7c0;

$error-color: #ff0000;

//bg-color
$bg-color: #f6f5f5;

//media
$leptop-media: 1200px;
$tablet-media: 1024px;
$max-mobile: 767px;
$mobile-media: 500px;

//transition
$anim: .3s;