.sign-in {
  display: flex;
  padding-top: 32px;

  @include media-sm {
    display: block;
    padding-top: 28px;
  }
}

.sign-in__ban {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  flex-grow: 1;
  padding-right: 70px;
  padding-top: 43px;

  @include media-sm {
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 20px;
  }
}

.sign-in__desc {
  width: 100%;
  max-width: 304px;
  padding-top: 20px;
  padding-bottom: 40px;

  @include media-sm {
    max-width: none;
  }
}

.sign-in__pic {
  width: 168px;
  height: 170px;
}

.sign-in__inputs {
  margin-bottom: 90px;

  @include media-sm {
    margin-bottom: 209px;
  }
}

.sign-in__input {
  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

.sign-in__btn {
  display: flex;
  justify-content: center;
}
