// generated SVG icons
[class*='icon-']:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

