//fonts
$main-font: Roboto, Arial, sans-serif;

//general-color
$general-black: #000;
$general-white: #fff;

//font-size
$main-fz: 16px;
$minor-fz: 17px;
$sub-fz: 14px;
$low-fz: 11px;

//text-color
$text-white: #fff;
$main-color: #abb7e0;

$error-color: #C8494E;

//other
$anim: .3s;
