@charset "UTF-8";
*:before,
*:after,
* {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: none; }

body {
  min-height: 100vh;
  margin: 0;
  line-height: 1.15;
  text-rendering: optimizeLegibility;
  -webkit-text-decoration-skip: objects;
          text-decoration-skip: objects;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent; }

p,
dd,
dl,
figure,
blockquote {
  margin: 0; }

ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th {
  font-weight: inherit; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0; }

audio,
video {
  display: block; }

img {
  border: none;
  display: block; }

iframe {
  border: none; }

pre {
  font-family: monospace, monospace;
  font-size: inherit; }

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit; }

abbr {
  border: none;
  text-decoration: none; }

b,
strong {
  font-weight: inherit; }

i,
em {
  font-style: inherit; }

code,
kbd,
samp {
  font-family: monospace;
  font-size: inherit; }

dfn {
  font-style: inherit; }

mark {
  background-color: transparent;
  color: inherit; }

small {
  font-size: inherit; }

sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: inherit;
  line-height: 0; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  margin: 0;
  border: none;
  box-shadow: none;
  background-color: transparent;
  border-radius: 0;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  font-weight: inherit;
  -webkit-appearance: none; }

button,
select {
  text-transform: none;
  text-align: left; }

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

select::-ms-expand {
  display: none; }

button,
[type='button'],
[type='reset'],
[type='submit'] {
  cursor: pointer; }

textarea {
  resize: none;
  overflow: auto; }

fieldset {
  padding: 0;
  margin: 0;
  border: none; }

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto; }

input[type='number'] {
  -moz-appearance: textfield; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: .2;
  transition: opacity .3s; }

::-moz-placeholder {
  color: inherit;
  opacity: .2;
  transition: opacity .3s; }

:-moz-placeholder {
  color: inherit;
  opacity: .2;
  transition: opacity .3s; }

:-ms-input-placeholder {
  color: inherit;
  opacity: .2;
  transition: opacity .3s; }

:focus::-webkit-input-placeholder {
  opacity: 0; }

:focus::-moz-placeholder {
  opacity: 0; }

:focus:-moz-placeholder {
  opacity: 0; }

:focus:-ms-input-placeholder {
  opacity: 0; }

svg {
  display: block;
  width: 100%;
  height: 100%;
  fill: currentColor; }

[hidden] {
  display: none; }

:disabled,
.disabled {
  cursor: not-allowed;
  pointer-events: none; }

::-ms-clear {
  display: none; }

::-moz-focus-inner {
  border: none; }

:-webkit-autofill {
  background-color: transparent;
  box-shadow: 0 0 100px #fff inset;
  -webkit-text-fill-color: currentColor; }

::-moz-selection {
  color: #000;
  background: #fbd404; }

::selection {
  color: #000;
  background: #fbd404; }

:focus {
  outline: none; }

.clearfix:after {
  content: '.';
  display: block;
  clear: both; }

.visually-hidden {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  border: none;
  overflow: hidden; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/roboto/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Slab';
  src: url("../fonts/roboto/RobotoSlab-Bold.woff2") format("woff2"), url("../fonts/roboto/RobotoSlab-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Slab';
  src: url("../fonts/roboto/RobotoSlab-Regular.woff2") format("woff2"), url("../fonts/roboto/RobotoSlab-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Black.woff2") format("woff2"), url("../fonts/roboto/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'AmericanTypewriter';
  src: url("../fonts/americantypewriter/AmericanTypewriterBold.woff2") format("woff2"), url("../fonts/americantypewriter/AmericanTypewriterBold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/roboto/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Slab';
  src: url("../fonts/roboto/RobotoSlab-Light.woff2") format("woff2"), url("../fonts/roboto/RobotoSlab-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

html {
  font-size: 16px;
  scroll-behavior: smooth; }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    html {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f4f7fd;
  font-family: Roboto, sans-serif;
  color: #423f54;
  font-weight: 400; }

.container {
  max-width: 1668px;
  padding: 0 15px;
  margin: 0 auto; }
  @media screen and (min-width: 1025px) {
    .container {
      padding: 0 23px; } }

@supports (max-width: env(safe-area-inset-left)) {
  .container {
    max-width: calc(100% - env(safe-area-inset-left)*2); } }

.open-menu {
  position: relative;
  display: block;
  font-size: 1rem;
  width: 26px;
  height: 26px;
  border-radius: 5px; }
  .open-menu:after,
  .open-menu .open-menu__decor:after,
  .open-menu .open-menu__decor:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 3px;
    background-color: currentColor;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s; }
  .open-menu .open-menu__decor:after {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px); }
  .open-menu .open-menu__decor:before {
    -webkit-transform: translateY(8px);
            transform: translateY(8px); }
  .open-menu:active {
    color: #efae7c; }

.nav__open-input:checked ~ .nav__open-menu .open-menu:after {
  opacity: 0; }

.nav__open-input:checked ~ .nav__open-menu .open-menu .open-menu__decor:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

.nav__open-input:checked ~ .nav__open-menu .open-menu .open-menu__decor:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.nav__open-input:checked ~ .nav__open-menu .open-menu .open-menu__decor {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.nav__open-input:checked ~ .nav__list {
  visibility: visible;
  -webkit-transform: translateX(0);
          transform: translateX(0); }

.nav.nav--footer {
  display: none; }
  @media screen and (min-width: 1025px) {
    .nav.nav--footer {
      display: block; }
      .nav.nav--footer .nav__item:first-child .nav__link {
        padding-left: 8px; }
      .nav.nav--footer .nav__item.active .nav__link {
        color: #efae7c; } }

.nav__open-menu {
  position: relative;
  z-index: 3;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 15px; }
  @media screen and (min-width: 1025px) {
    .nav__open-menu {
      display: none; } }

.nav__list {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: auto;
  visibility: hidden;
  background-color: #fff;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  transition: visibility 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, visibility 0.3s;
  transition: transform 0.3s, visibility 0.3s, -webkit-transform 0.3s; }
  @media screen and (min-width: 1025px) {
    .nav__list {
      position: relative;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      visibility: visible;
      -webkit-transform: none;
              transform: none;
      overflow: visible;
      transition: none; } }

@media screen and (min-width: 1025px) {
  .nav:not(.nav--footer) .nav__item {
    z-index: 2; }
    .nav:not(.nav--footer) .nav__item.active ~ .nav__cursor {
      -webkit-transform: translateX(543px);
              transform: translateX(543px);
      width: 98px; }
    .nav:not(.nav--footer) .nav__item:nth-child(1):hover ~ .nav__cursor {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      width: 108px; }
    .nav:not(.nav--footer) .nav__item:nth-child(2):hover ~ .nav__cursor {
      -webkit-transform: translateX(108px);
              transform: translateX(108px);
      width: 114px; }
    .nav:not(.nav--footer) .nav__item:nth-child(3):hover ~ .nav__cursor {
      -webkit-transform: translateX(223px);
              transform: translateX(223px);
      width: 141px; }
    .nav:not(.nav--footer) .nav__item:nth-child(4):hover ~ .nav__cursor {
      -webkit-transform: translateX(365px);
              transform: translateX(365px);
      width: 177px; }
    .nav:not(.nav--footer) .nav__item:nth-child(5):hover ~ .nav__cursor {
      -webkit-transform: translateX(543px);
              transform: translateX(543px);
      width: 98px; }
    .nav:not(.nav--footer) .nav__item:nth-child(6):hover ~ .nav__cursor {
      -webkit-transform: translateX(645px);
              transform: translateX(645px);
      width: 135px; } }

.nav__link {
  display: block;
  padding-left: 30px;
  padding-right: 29px;
  color: #423f54;
  font-size: 14px;
  line-height: 2.143;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: .16em; }
  .nav__link:active {
    color: #efae7c; }

.nav__cursor {
  display: none; }
  @media screen and (min-width: 1025px) {
    .nav__cursor {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      display: block;
      height: 6px;
      margin: auto;
      background-color: #efae7c;
      transition: width 0.6s, -webkit-transform 0.6s;
      transition: transform 0.6s, width 0.6s;
      transition: transform 0.6s, width 0.6s, -webkit-transform 0.6s; } }

.select-item {
  position: relative;
  height: 50px;
  width: 230px;
  background-color: #fff; }
  .select-item:before {
    content: '';
    position: absolute;
    top: -5px;
    right: 27px;
    bottom: 0;
    z-index: 1;
    width: 8px;
    height: 8px;
    border: 2px solid #b4b4b4;
    border-top: none;
    border-left: none;
    margin: auto;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  @media screen and (min-width: 1025px) {
    .select-item {
      transition: color 0.3s, background-color 0.3s; }
      .select-item:hover, .select-item:focus {
        background-color: #c1e1f4;
        color: #423f54; } }
  .select-item:active {
    color: #efae7c; }

.select-item__select {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 0 28px;
  background-color: transparent;
  color: rgba(66, 63, 84, 0.7);
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap; }

.news-item {
  display: block;
  position: relative;
  background-color: #fff;
  overflow: hidden; }
  .news-item:not(.news-item--full) {
    height: 520px; }
  @media screen and (min-width: 1025px) {
    .news-item:not(.news-item--full):hover:not(.news-item--video) .news-item__ban {
      height: 100%; }
    .news-item:not(.news-item--full):hover:not(.news-item--video) .news-item__hover {
      opacity: 1; }
    .news-item:not(.news-item--full):hover:not(.news-item--video) .news-ban__label {
      opacity: 0; }
    .news-item:not(.news-item--full):hover:not(.news-item--video) .news-item__desc {
      display: none; } }

.news-item.news-item--full-img .news-item__ban {
  height: 100%; }

.news-item.news-item--full-img .news-item__hover {
  background-color: #fff; }

.news-item.news-item--full-img .news-item__small,
.news-item.news-item--full-img .news-item__quote:before,
.news-item.news-item--full-img .news-item__quote:after,
.news-item.news-item--full-img .news-item__quote {
  color: #555365; }

.news-item__cont {
  height: 100%; }

.news-item__ban {
  height: 50%;
  transition: height 0.3s; }

.news-ban {
  position: relative;
  display: block;
  overflow: hidden; }
  .news-ban:not(.news-ban--response) {
    height: 100%; }
  .news-ban.news-ban--response {
    padding-bottom: 70%; }

.news-ban__open-video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  width: 80px;
  height: 80px;
  color: transparent;
  background-color: #fff;
  border-radius: 50%; }
  .news-ban__open-video .news-ban__circle {
    stroke: #efae7c;
    stroke-width: 10px;
    stroke-dasharray: 620;
    stroke-dashoffset: 620;
    transition: stroke-dashoffset 0.3s; }

@media screen and (min-width: 1025px) {
  .news-ban--response:hover .news-ban__circle,
  .news-item:hover .news-ban__circle {
    stroke-dashoffset: 0; }
  .news-ban--response:hover .news-ban__arrow,
  .news-item:hover .news-ban__arrow {
    stroke: #efae7c; } }

.news-ban__arrow {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 32px;
  height: 24px;
  padding: 4px;
  color: transparent;
  stroke: #444;
  stroke-width: 12px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  transition: stroke 0.3s; }
  .news-ban__arrow:active {
    opacity: .8; }

.news-item--full {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }
  .news-item--full .news-ban__label {
    left: auto;
    right: 20px;
    width: 150px; }
  .news-item--full .news-item__title {
    margin-bottom: 30px;
    max-width: 510px;
    text-align: left;
    font-size: 22px;
    line-height: 1.429; }
    @media screen and (min-width: 1025px) {
      .news-item--full .news-item__title {
        padding-right: 80px;
        font-size: 28px; } }
  .news-item--full .news-item__desc {
    position: relative;
    padding: 25px 20px; }
    @media screen and (min-width: 1025px) {
      .news-item--full .news-item__desc {
        padding: 32px 40px 45px; } }
  .news-item--full .news-item__date {
    text-align: left;
    margin-left: auto; }
    @media screen and (min-width: 1025px) {
      .news-item--full .news-item__date {
        position: absolute;
        top: 38px;
        right: 40px; } }
  .news-item--full .news-item__text {
    width: 100%;
    padding: 0;
    text-align: left; }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      .news-item--full .news-item__text {
        max-width: 400px; } }
  .news-item--full .news-ban--response {
    padding-bottom: 72%; }
  .news-item--full .news-item__ban {
    height: auto; }

.news-ban__pic {
  position: absolute;
  top: 0;
  left: 50%;
  min-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }

.news-ban__label {
  position: absolute;
  top: 20px;
  left: 20px;
  min-width: 100px;
  padding: 0 14px;
  background-color: rgba(0, 0, 0, 0.7);
  line-height: 40px;
  border-radius: 20px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  transition: opacity 0.3s; }

.news-item__desc {
  height: 50%;
  padding: 25px 20px; }
  @media screen and (min-width: 1025px) {
    .news-item__desc {
      padding: 34px 20px 38px; } }

.news-item__title {
  font-family: "Roboto Slab", sans-serif;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.667;
  color: #555365; }

.news-item__date {
  display: block;
  margin-bottom: 30px;
  text-align: center;
  color: rgba(66, 63, 84, 0.5);
  font-size: 12px;
  letter-spacing: .08em;
  text-transform: uppercase; }

.news-item__text {
  padding: 0 20px;
  text-align: center;
  font-size: 15px;
  line-height: 1.733;
  color: #9a98a0; }

.news-item__hover {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 24px 64px;
  padding-top: 14px;
  background-color: rgba(66, 63, 84, 0.75);
  opacity: 0;
  transition: opacity 0.3s; }

.news-item__quote {
  position: relative;
  margin-bottom: 35px;
  max-width: 240px;
  color: #fff;
  font-size: 27px;
  text-align: center;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 300;
  line-height: 1.778; }
  .news-item__quote:before, .news-item__quote:after {
    position: absolute;
    font-family: AmericanTypewriter, sans-serif;
    color: #efae7c;
    font-size: 37px; }
  .news-item__quote:before {
    content: '“';
    left: -2px;
    top: -5px; }
  .news-item__quote:after {
    content: '„';
    right: 16px;
    bottom: 5px; }

.news-item__small {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: .08em; }

.news-list {
  padding: 10px 0;
  background-color: #fff; }

.news-list-item {
  display: block;
  padding: 0 20px;
  border-left: 2px solid transparent;
  transition: border-color 0.3s; }
  @media screen and (min-width: 1025px) {
    .news-list-item {
      padding: 0 37px; }
      .news-list-item:hover {
        border-left-color: #efae7c; }
        .news-list-item:hover .news-list-item__title {
          color: #efae7c; }
        .news-list-item:hover .news-list-item__img {
          width: 86px;
          margin-right: 20px; } }

.news-list-item__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
  padding-top: 24px;
  border-bottom: 1px solid #ecebee; }

.news-list-item__img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 0;
  overflow: hidden;
  margin-right: 0;
  transition: width 0.3s, margin 0.3s; }

.news-list-item__pic {
  width: 100%; }

.news-list-item__title {
  height: 56px;
  overflow: hidden;
  font-family: "Roboto Slab", sans-serif;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.667;
  letter-spacing: -.01em;
  color: #555365;
  transition: color 0.3s; }

.news-list-item__date {
  display: block;
  color: rgba(66, 63, 84, 0.5);
  font-size: 12px;
  letter-spacing: .08em;
  text-transform: uppercase; }

.check-galery {
  position: relative;
  width: 100%; }

.check-galery__input {
  display: none; }

#check-1:checked ~ .check-galery__list-wrap .check-galery__item:nth-child(1) {
  opacity: 1; }

#check-1:checked ~ .arrow-group-1 {
  display: block; }

#check-1:checked ~ .check-galery__dot-list [for='check-1'] {
  background-color: #efae7c;
  -webkit-transform: scale(1.5);
          transform: scale(1.5); }

#check-2:checked ~ .check-galery__list-wrap .check-galery__item:nth-child(2) {
  opacity: 1; }

#check-2:checked ~ .arrow-group-2 {
  display: block; }

#check-2:checked ~ .check-galery__dot-list [for='check-2'] {
  background-color: #efae7c;
  -webkit-transform: scale(1.5);
          transform: scale(1.5); }

#check-3:checked ~ .check-galery__list-wrap .check-galery__item:nth-child(3) {
  opacity: 1; }

#check-3:checked ~ .arrow-group-3 {
  display: block; }

#check-3:checked ~ .check-galery__dot-list [for='check-3'] {
  background-color: #efae7c;
  -webkit-transform: scale(1.5);
          transform: scale(1.5); }

#check-4:checked ~ .check-galery__list-wrap .check-galery__item:nth-child(4) {
  opacity: 1; }

#check-4:checked ~ .arrow-group-4 {
  display: block; }

#check-4:checked ~ .check-galery__dot-list [for='check-4'] {
  background-color: #efae7c;
  -webkit-transform: scale(1.5);
          transform: scale(1.5); }

.check-galery__list-wrap {
  overflow: hidden; }

.check-galery__list {
  position: relative;
  height: 772px; }

.check-galery__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s; }

.check-galery__pic {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .check-galery__pic {
    display: none; }
  .check-galery__pic.hidden {
    display: block; } }

.check-galery__arrow-group {
  display: none; }

.check-galery__arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2em;
  height: 2em;
  border: .5em solid #000;
  margin: auto;
  border-top: none;
  border-left: none;
  cursor: pointer; }
  .check-galery__arrow:active {
    opacity: .8; }
  .check-galery__arrow.check-galery__arrow--left {
    -webkit-transform: rotate(134deg);
            transform: rotate(134deg);
    right: 100%; }
  .check-galery__arrow.check-galery__arrow--right {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    left: 100%; }

.check-galery__dot-list {
  position: absolute;
  left: 0;
  bottom: 52px;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%; }

.check-galery__dot {
  width: 8px;
  height: 8px;
  margin: 0 9px;
  border-radius: 50%;
  background-color: #d0c4bd;
  cursor: pointer;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  will-change: transform; }
  .check-galery__dot:active {
    opacity: .8; }
  @media screen and (min-width: 1025px) {
    .check-galery__dot:hover {
      -webkit-transform: scale(1.4);
              transform: scale(1.4); } }

.check-galery__desc {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 6;
  width: 100%;
  text-align: center;
  padding: 0 24px;
  color: #fff;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

.check-galery__title {
  max-width: 850px;
  margin: 0 auto;
  margin-bottom: 20px;
  font-weight: 400;
  font-family: "Roboto Slab", sans-serif;
  font-size: 36px;
  letter-spacing: -.06em; }
  @media screen and (min-width: 1025px) {
    .check-galery__title {
      font-size: 72px; } }

.check-galery__sub-title {
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 1.407em; }
  @media screen and (min-width: 1025px) {
    .check-galery__sub-title {
      font-size: 27px; } }

.check-galery__btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.check-galery__sub-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: .08em;
  transition: color 0.3s; }
  .check-galery__sub-btn:active {
    opacity: .8; }
  @media screen and (min-width: 1025px) {
    .check-galery__sub-btn:hover, .check-galery__sub-btn:focus {
      color: #efae7c; } }

.check-galery__text-btn {
  margin-right: 13px; }

.check-galery__ico-btn {
  width: 32px;
  height: 34px; }

.button-anim {
  position: relative;
  font-size: 1px;
  width: 190em;
  height: 60em;
  -webkit-perspective: 450em;
          perspective: 450em; }
  .button-anim:hover .button {
    background-color: #6872b0; }
    .button-anim:hover .button:before, .button-anim:hover .button:after {
      opacity: 1; }

.button-anim__l,
.button-anim__r {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  display: block;
  z-index: 2; }

.button-anim__l {
  left: 0; }
  .button-anim__l:hover ~ .button {
    -webkit-transform: rotateY(-28deg);
            transform: rotateY(-28deg); }

.button-anim__r {
  right: 0; }
  .button-anim__r:hover ~ .button {
    -webkit-transform: rotateY(28deg);
            transform: rotateY(28deg); }

.button {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16em;
  letter-spacing: .08em;
  background-color: transparent;
  text-transform: uppercase;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  transition: background-color 0.3s, -webkit-transform 0.5s;
  transition: transform 0.5s, background-color 0.3s;
  transition: transform 0.5s, background-color 0.3s, -webkit-transform 0.5s;
  border: 1px solid;
  font-weight: 700; }
  .button:before, .button:after {
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #6872b0;
    width: 2.4em;
    border: 1px solid;
    opacity: 0;
    transition: opacity 0.3s; }
  .button:before {
    left: 0;
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%; }
  .button:after {
    right: 0;
    -webkit-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
    -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0; }

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.social-list__item:not(:last-child) {
  margin-right: 20px; }

.social-list__link {
  display: block;
  width: 19px;
  height: 19px;
  color: #807f89; }
  .social-list__link:active {
    opacity: .8; }

.social-list__ico {
  width: 100%;
  height: 100%; }

.header-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60px;
  background-color: #fff; }

.header-page__logo {
  width: 70%; }

.logo {
  display: block;
  max-width: 273px;
  max-height: 90px; }

.logo__pic {
  max-width: 100%; }

@media screen and (min-width: 1200px) {
  .header-page__menu {
    padding-right: 56px; } }

.top-sect-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh; }

.top-sect {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 30px;
  background-image: url("../images/bg/top-bg-mob.png");
  background-size: cover;
  background-position: center; }
  @media screen and (min-width: 992px) {
    .top-sect {
      background-image: url("../images/bg/top-bg.png"); } }

.top-sect__title {
  text-align: center; }

.top-sect__title {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 400;
  margin-bottom: 7px;
  font-size: 36px;
  line-height: 1.167;
  letter-spacing: -.06em;
  color: #fff; }
  @media screen and (min-width: 480px) {
    .top-sect__title {
      font-size: 46px; } }
  @media screen and (min-width: 992px) {
    .top-sect__title {
      font-size: 74px; } }
  @media screen and (min-width: 1200px) {
    .top-sect__title {
      font-size: 100px; } }
  @media screen and (min-width: 1366px) {
    .top-sect__title {
      font-size: 120px; } }

.top-sect__sub-title {
  margin: auto;
  max-width: 600px;
  color: #fff;
  line-height: 1.407;
  text-align: center;
  font-size: 27px; }

.top-sect__next-arrow {
  position: absolute;
  bottom: 37px;
  left: 0;
  right: 0;
  width: 22px;
  height: 22px;
  margin: auto;
  color: #fff;
  -webkit-animation: arrow-bottom 1s linear infinite;
          animation: arrow-bottom 1s linear infinite; }
  .top-sect__next-arrow:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border: 2px solid;
    border-top: none;
    border-left: none;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s; }
  .top-sect__next-arrow:active {
    color: #efae7c; }
  @media screen and (min-width: 1025px) {
    .top-sect__next-arrow {
      transition: -webkit-transform 0.3s;
      transition: transform 0.3s;
      transition: transform 0.3s, -webkit-transform 0.3s; }
      .top-sect__next-arrow:hover:before, .top-sect__next-arrow:focus:before {
        -webkit-transform: scale(1.2) rotate(45deg);
                transform: scale(1.2) rotate(45deg); } }

@-webkit-keyframes arrow-bottom {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  70% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px); } }

@keyframes arrow-bottom {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  70% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px); } }

.tab-sect {
  padding: 30px 0; }
  @media screen and (min-width: 1025px) {
    .tab-sect {
      padding: 150px 0; } }

.tab-sect__tab-item:not(.active) {
  display: none; }

.tab-sect__panel {
  margin-bottom: 30px; }
  @media screen and (min-width: 1025px) {
    .tab-sect__panel {
      margin-bottom: 100px; } }

@media screen and (min-width: 1025px) {
  .control-panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

.control-panel__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  padding-bottom: 10px;
  margin-bottom: 5px; }
  @media screen and (min-width: 1025px) {
    .control-panel__list {
      padding-bottom: 0;
      margin-bottom: 0; } }

.control-panel__btn {
  display: block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 0 25px;
  background-color: #fff;
  line-height: 50px;
  color: rgba(66, 63, 84, 0.7);
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
  text-align: center; }
  .control-panel__btn:not(:last-child) {
    margin-right: 15px; }
    @media screen and (min-width: 1025px) {
      .control-panel__btn:not(:last-child) {
        margin-right: 20px; } }
  .control-panel__btn.active {
    color: #fff;
    background-color: #6472b7; }
  .control-panel__btn.control-panel__btn--all {
    min-width: 150px; }
  .control-panel__btn.control-panel__btn--eqtuity {
    min-width: 140px; }
  .control-panel__btn.control-panel__btn--growth {
    min-width: 200px; }
  .control-panel__btn.control-panel__btn--partners {
    min-width: 230px; }
  @media screen and (min-width: 1025px) {
    .control-panel__btn {
      transition: color 0.3s, background-color 0.3s; }
      .control-panel__btn:hover, .control-panel__btn:focus {
        background-color: #c1e1f4;
        color: #423f54; } }
  .control-panel__btn:active {
    color: #efae7c; }

@media screen and (min-width: 1200px) {
  .tab-sect__desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

.tab-sect__tab-left {
  margin-bottom: 15px; }
  @media screen and (min-width: 1025px) {
    .tab-sect__tab-left {
      -ms-flex-negative: 0;
          flex-shrink: 0;
      width: 370px;
      margin-bottom: 0; } }

.tab-sect__tab-desc {
  margin-bottom: 15px; }
  @media screen and (min-width: 1025px) {
    .tab-sect__tab-desc {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      margin-bottom: 20px; } }
  @media screen and (min-width: 1200px) {
    .tab-sect__tab-desc {
      margin-bottom: 0; } }

@media screen and (min-width: 1025px) {
  .tab-sect__tab-full {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 46px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; } }

@media screen and (min-width: 1200px) {
  .tab-sect__tab-full {
    padding-right: 46px; } }

.tab-sect__aside {
  -ms-flex-negative: 0;
      flex-shrink: 0; }
  @media screen and (min-width: 1200px) {
    .tab-sect__aside {
      width: 370px; } }

@media screen and (min-width: 1025px) {
  .tab-sect__tab-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

.tab-sect__tab-left-item:not(:last-child) {
  margin-bottom: 15px; }
  @media screen and (min-width: 1025px) {
    .tab-sect__tab-left-item:not(:last-child) {
      margin-bottom: 49px; } }

.news-sect {
  padding: 30px 0; }
  @media screen and (min-width: 1025px) {
    .news-sect {
      padding: 150px 0; } }

.news-sect__list {
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: -30px; }
  @media screen and (min-width: 1025px) {
    .news-sect__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      margin-right: -23px;
      margin-left: -23px;
      margin-bottom: -48px; } }

.news-sect__list-item {
  width: 100%;
  padding: 0 15px;
  margin-bottom: 30px; }
  @media screen and (min-width: 1025px) {
    .news-sect__list-item {
      padding: 0 23px;
      margin-bottom: 48px;
      width: 33.33%; } }
  @media screen and (min-width: 1600px) {
    .news-sect__list-item {
      width: 25%; } }

.contact-sect {
  padding-top: 135px;
  padding-bottom: 173px;
  background-image: linear-gradient(rgba(100, 114, 183, 0.9), rgba(100, 114, 183, 0.9)), url("../images/bg/newspaper-mob.png");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #fff; }
  @media screen and (min-width: 992px) {
    .contact-sect {
      background-image: linear-gradient(rgba(100, 114, 183, 0.9), rgba(100, 114, 183, 0.9)), url("../images/bg/newspaper.png"); } }

.contact-sect__title {
  margin-bottom: 20px;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.625;
  letter-spacing: -.06em; }
  @media screen and (min-width: 1025px) {
    .contact-sect__title {
      margin: 0;
      font-size: 80px; } }

.contact-sect__sub-title {
  font-size: 18px;
  line-height: 1.583; }
  @media screen and (min-width: 1025px) {
    .contact-sect__sub-title {
      font-size: 24px; } }

.contact-sect__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 26px; }

.contact-sect__sub-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.footer-page {
  padding-top: 30px;
  background-color: #fff; }
  @media screen and (min-width: 1025px) {
    .footer-page {
      padding-top: 64px; } }

@media screen and (min-width: 1025px) {
  .footer-page__top,
  .footer-page__bot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

.footer-page__top {
  margin-bottom: 20px; }
  @media screen and (min-width: 1025px) {
    .footer-page__top {
      margin-bottom: 50px; } }

.footer-page__bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 0;
  border-top: 1px solid #f2f2f3; }
  @media screen and (min-width: 1025px) {
    .footer-page__bot {
      display: block; } }

.footer-page__right {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  margin-bottom: 20px; }
  @media screen and (min-width: 1025px) {
    .footer-page__right {
      margin: 0; } }

.footer-page__logo {
  margin-bottom: 20px;
  padding-top: 10px; }
  @media screen and (min-width: 1025px) {
    .footer-page__logo {
      margin-bottom: 50px; } }

.footer-page__copy {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #767481; }

.footer-page__contact-info {
  color: #9a98a0;
  font-size: 15px;
  line-height: 2; }
  @media screen and (min-width: 1025px) {
    .footer-page__contact-info {
      text-align: right; } }

@media screen and (min-width: 1025px) {
  .footer-page__social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; } }
