.header-page {
    background-image: url('../img/head-bg.png');
    background-position: center top;
    background-repeat: no-repeat;
    min-height: -webkit-calc(100vh + 180px);
    min-height: -moz-calc(100vh + 180px);
    min-height: calc(100vh + 180px);
    padding-top: 50px;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(60, 42, 52, 0.76);
        display: block;
        left: 0;
        top: 0;
    }
    overflow: hidden;
}

.header-page__top {
    padding-left: 36px;
    padding-right: 52px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-align-items: flex-end;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -moz-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    position: relative;
    z-index: 15;
    width: 100%;
}

.header-page__skew {
    height: 100%;
    position: absolute;
    width: 45%;
    left: 0;
    bottom: 0;
    z-index: 4;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -ms-transform: skew(20deg);
    -o-transform: skew(20deg);
    transform: skew(20deg);
    &:before {
        height: 100%;
        width: 200%;
        position: absolute;
        display: block;
        content: '';
        right: 0;
        background: rgba(255, 255, 255, 0.12);
    }
    &:after {
        bottom: 0;
        height: 180px;
        width: 200%;
        position: absolute;
        display: block;
        content: '';
        right: 0;
        background: #f6f6f6;
    }
}

.logo {
    display: block;
    max-width: 200px;
}

.logo_pic {
    display: block;
}

.leng {
    height: 30px;
    width: 70px;
    position: relative;
    overflow: hidden;
    &:before {
        content: '';
        position: absolute;
        right: 13px;
        top: 0;
        bottom: 0;
        margin: auto;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid #fff;
        width: 0;
        height: 0;
        cursor: pointer;
    }
    &.active {
        overflow: visible;
    }
}

.leng__list {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.leng__link {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.96px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #49404b;
    width: 100%;
    height: 30px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
    padding-right: 7px;
}

.leng__item.active {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -moz-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
}

.main-menu__list {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header-page__nav {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 52.4%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: -10px;
}

.main-menu {
    width: 100%;
    max-width: 435px;
}

.main-menu__link {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.08px;
    text-transform: uppercase;
    display: block;
}

.main-menu__ico {
    font-size: 22px;
    color: #fff;
}

.header-page>.container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 180px;
}

.header-page__title {
    width: 100%;
    position: relative;
    padding-left: 36px;
    padding-right: 52px;
    z-index: 10;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -moz-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.contact-info {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.contact-link {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.08px;
}

.contact-link__ico {
    margin-right: 15px;
}

.contact-info__item {
    margin-right: 45px;
    &:last-child {
        margin: 0;
    }
}

.header-page__head-title {
    margin-bottom: 60px;
}

.header-page__contact-info {
    margin-bottom: 25px;
}

.head-title__strong {
    color: #ffffff;
    font-size: 65px;
    font-weight: 700;
    letter-spacing: 3.9px;
    line-height: 56px;
    text-transform: uppercase;
    margin-right: 15px;
}

.head-title__text {
    color: #ffffff;
    font-size: 59px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 46px;
}

.head-title__h {
    margin-bottom: 10px;
}

.head-title__subtitle {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.08px;
    text-align: right;
    display: block;
    text-transform: uppercase;
    padding-right: 48px;
}

.anchor-form {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #a4236e;
    width: 280px;
    height: 55px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.44px;
    line-height: 20px;
    text-transform: uppercase;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    &:hover {
        background-color: #a1025e;
    }
}

.header-page__btn {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 100%;
    padding-right: 48px;
}